@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* @tailwind base; */
/* @tailwind components; */
@tailwind utilities;

:root {
	--calc-color-blue: #155dfd;
	--calc-color-red: #ff214c;
	--calc-color-light-red: #fff0f3;
	--calc-color-light-blue: #f5f8ff;
	--calc-color-middle-blue: #d2e1f8;
	--calc-color-gray: #747681;
	--calc-color-light-gray: #d2d6dd;
	--calc-color-dark-gray: #282d46;
	--calc-color-black: #141414;
	--calc-color-select: #f3f3f6;
}

.calculator {
	margin: 0 auto;
	width: 96%;
	max-width: 1150px;
	@apply text-black font-default mt-[60px] mb-[120px];
	@apply md:mt-[40px] md:px-[8px]
}

.calculator-btn {
	background: linear-gradient(270deg, #D9D9D9 10.57%, rgba(217, 217, 217, 0.55) 33.34%, rgba(229, 228, 228, 0.71) 52.09%, rgba(246, 245, 245, 0.93) 74.86%);
	@apply text-blue;
}

.calculator-checkbox {
	@apply m-0 w-[16px] h-[16px] cursor-pointer md:w-[13px] md:h-[13px] border-solid border-gray border-[1px] relative rounded-[3px] after:content-[''] after:w-full after:h-full after:block;
}

.calculator-checkbox.checked {
	@apply bg-blue border-blue;
}

.calculator-checkbox.checked::after {
	background: url('data:image/svg+xml,<svg width="52" height="42" viewBox="0 0 52 42" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M43.5625 2.06248C44.4429 1.22428 45.6145 0.760895 46.8301 0.770093C48.0457 0.77929 49.2102 1.26036 50.0778 2.11178C50.9454 2.9632 51.4484 4.11838 51.4805 5.33356C51.5126 6.54875 51.0714 7.7289 50.25 8.62498L25.3125 39.8125C24.8837 40.2743 24.3662 40.645 23.7908 40.9023C23.2155 41.1595 22.5942 41.2982 21.9641 41.3098C21.334 41.3215 20.7079 41.206 20.1235 40.9702C19.539 40.7344 19.0081 40.3831 18.5625 39.9375L2.02501 23.4C1.56447 22.9708 1.19508 22.4533 0.938878 21.8783C0.682678 21.3033 0.544915 20.6826 0.533811 20.0532C0.522706 19.4239 0.638486 18.7987 0.874242 18.215C1.11 17.6313 1.4609 17.1011 1.90602 16.656C2.35114 16.2109 2.88135 15.86 3.46502 15.6242C4.0487 15.3885 4.67388 15.2727 5.30328 15.2838C5.93267 15.2949 6.55338 15.4326 7.12837 15.6888C7.70337 15.945 8.22087 16.3144 8.65001 16.775L21.7375 29.8562L43.4438 2.19998C43.4828 2.15186 43.5183 2.10595 43.5625 2.06248Z" fill="white"/></svg>') no-repeat;
	background-size: 10px 16px;
	background-position: center;
}